#status {
  .page-header {
    margin-bottom: 15px;
  }

  .content {
    padding-bottom: 40px;
  }

  .new_lookup {
    display: block;
    margin-bottom: 5px;
  }

  #search form {
    display: none;
  }

  .no-reg #search {
    .new_lookup {
      display: none;
    }
    form {
      display: block;
    }
  }

  #record {
    label {
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
