.bt {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1.5em .55em 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 14px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 14px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
	border-radius: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 0 5px rgba(0,0,0,.8);

  color: #fff;
  background-color: #2E5CB2;
}

.bt:hover {
  background-color: #182D6B;
  text-decoration: none;
  color: #fff;
}

.bt:active {
  background-color: #3B393B;
}

.bt:disabled, .bt.disabled {
  background-color: #919498;
}

.bt.right {
  padding-left: 22px;
  background-image: image-url('right-arrow.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
}
