.button {
  display: block;
  height: 37px;
  margin-left: -5px;
}

.overseas.button {
  background: image-url('buttons.png') no-repeat 0 -74px;
  width: 164px;
}

.overseas.button:hover {
  background: image-url('buttons.png') no-repeat 0 -37px;  
}

.overseas.button:active {
  background: image-url('buttons.png') no-repeat 0 0;  
}

.residential.button {
  background: image-url('buttons.png') no-repeat -166px -74px;  
  width: 175px;
}

.residential.button:hover {
  background: image-url('buttons.png') no-repeat -166px -37px;    
}

.residential.button:active {
  background: image-url('buttons.png') no-repeat -166px 0;    
}

.update.button {
  background: image-url('buttons.png') no-repeat -339px -74px;  
  width: 231px;
}

.update.button:hover {
  background: image-url('buttons.png') no-repeat -339px -37px;    
}

.update.button:active {
  background: image-url('buttons.png') no-repeat -339px 0;    
}

.btn {
  border: none;
  text-indent: -999em;
  padding: 0;
  height: 37px;
  width: 73px;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  &:hover {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
  }

  &.disabled, 
  &[disabled] {
    cursor: default;
    background-image: none;
    background-color: none;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.active,
  &:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}