footer {
  margin-top: 100px;
  border-top: 4px solid #ccc;
  padding-top: 16px;
  color: #555;

  p {
    font-size: 13px;
    line-height: 1.5;
  }

  h5 {
    font-size: 16px;
    margin-bottom: 16px;
  }

  h6 {
    text-transform: none;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
  }
}
