#footer {
  padding: 40px 0;
}

#footer, #sub-footer {
  background: #f4f4f4;
  .upcoming, .additional-info {
    padding: 10px 10px 0;
    margin: 0;

    h3 {
      color: #cf2145;
      font-family: Georgia, serif;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid #4d4a4c;
      margin-bottom: 0;
    }
  }

  .upcoming h4 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .upcoming p {
    margin-bottom: 18px;
  }

  .additional-info {
    p, h4 {
      font-size: 14px;
    }
  }

  .howto .external-page {
    margin-top: 10px;
  }

  .footer {
    padding: 40px 0;
    background: #e1e2e2;
    font-size: 11px;
    &, a {
      color: #a1a3a5;
    }
  }
}
