#hero {
  background: #c0c0b7;
  color: #4c4a4c;

  h2 {
    color: #4c4a4c;
    font-size: 23pt;
    padding: 0;
    margin-top: 36pt;
    margin-bottom: 0;
  }

  small {
    font-size: 22pt;
  }

  .w {
    padding-bottom: 10pt;
  }

  .steps {
    .line1, .step-numbers {
      color: #fff;
      font-size: 18pt;
    }

    .line2, .line3 {
      font-size: 13pt;
      font-weight: bold;
    }

    .line2 {
      color: #fff;
    }

    .step-numbers {
      text-align: left;
    }

    .step-names hr {
      width: 110px;
      border-bottom: 0;
      margin: 5px 0 0;
    }

    td { width: 120px; }

    .step-icons {
      td {
        padding: 40px 0;
        background: image-url('icon_rightarrow.png') right 40px no-repeat;
      }

      .mail {
        background: none;
      }
    }
  }
}

#front {
  .options {
    margin-top: 20px;
    padding-top: 5px;

    h3 {
      color: #cf2145;
      padding-bottom: 5px;
      font-size: 18px;
      font-family: Georgia, serif;
      border-bottom: 1px solid #4d4a4c;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .options-details {
    margin-bottom: 25px;

    h4 {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .options-links {
    margin-bottom: 100px;
  }
}
