#front {
  .steps {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f4f4f4;
  }

  h3 {
    font-size: 20px;
    border-top: 2px solid #000;
    border-bottom: 1px dotted #000;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .action-block {
    p {
      height: 120px;
    }
  }
}
