#header {
  overflow: hidden;
  background: #4c4a4c;
  color: #fff;
  padding: 24px 10px;
  height: 60px;

  img {
    float: left;
  }

  h1 {
    margin-top: 27px;
    color: #FFF;
    font-family: Georgia, serif;
    font-size: 32pt;
    font-weight: normal;
    clear: right;
    text-align: right;
  }
}

#menu {
  float: right;
  font-family: Helvetica, sans-serif;
  font-size: 9pt;
  margin-top: -9pt;

  a {
    color: #fff;
  }
}
