.steps {
  #step_eligibility td {
    border-top: none;
  }

  .marker {
    font-size: 150%;
  }

  .current {
    background: #f0f0f0;
  }
}

form#new_registration_request {
  .restored, .dln {
    margin-top: -4px;
    display: none;
  }

  .section, #another_state {
    display: none;
  }

  .outside, .add, .sadd {
    display: none;
    margin-left: 20px;
  }
}
