.steps {
  #step_eligibility td {
    border-top: none;
  }

  .marker {
    font-size: 150%;
  }

  .current {
    background: #f0f0f0;
  }
}

form#new_registration_request {
  .section, #another_state {
    display: none;
  }

  .outside, .add, .sadd, .restored, .dependent {
    display: none;
    margin-left: 20px;
    span {
      color: #000;
    }
  }

  .add, .sadd {
    margin-bottom: 5px;
  }

  .convicted-details, .mental-details {
    display: none;
    .controls {
      margin-left: 180px;
      p { margin: 5px 0; }
      select {
        width: auto;
      }
    }
  }

  textarea.privacy {
    margin-bottom: 10px;
  }
}
