#page_header {
  .dates p {
    margin: 0;
    color: #f00;
  }

  h2 {
    font-size: 150%;
  }

  .border {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
}
