#pages_demo_splash {
  .container {
    border: 0;
    background: none;
  }

  section.head {
    margin: 30px 0;
  }

  section {
    text-align: center;
  }

  .enter {
    margin: 30px 0;
  }

  .img_poweredby {
    width: 350px;
    height: 350px;
    background: image-url("ttv_grey_poweredby.jpg");
  }
}
