#pages_demo_splash {
  .container {
    border: 0;
    background: none;
  }

  section.head {
    margin: 100px 0;
    img {
      width: 300px;
    }
  }

  section {
    text-align: center;
  }

  .enter {
    margin: 30px 0;
  }
}
