#registration {
  .disclaimer {
    color: #ccc;
    margin: 0 80px 24px;
  }

  .section {
    display: none;
    &#eligibility { display: block; }
  }

  .ineligible {
    color: red;
  }
}

.partition {
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;

  h4 {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
  }

  section {
    border-bottom: none;
    padding-bottom: 0;
  }

  .block {
    margin-top: 15px;
  }
}

select {
  height: auto;
  line-height: 1.7em;
}

.date select {
  width: auto;
}

.section {
  .head:first-child { margin-top: 0; }
  .head.simple {
    border-top: none;
    border-bottom: none;
    margin-bottom: -30px;
    h3 {
      font-weight: normal;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 24px;
    }
  }

  .head {
    border-top: 1px solid #aaa;
    border-bottom: 1px dotted #aaa;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 10px;

    h3 {
      color: #CF2145;
      font-family: Georgia, serif;
      margin-bottom: 2px;
    }
  }

  .light.head {
    border-top: 0;
  }

  .description {
    color: #000;
  }

  .row {
    margin-bottom: 10px;
    margin-left: 0;

    .span2,
    .span3,
    .span4,
    .span6,
    .span10,
    .span12 {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  span, label {
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;
    display: block;
  }

  span label {
    color: #c8c7c7;
    margin: 0;
    display: inline;
  }

  textarea {
    height: 80px;
    width: 450px;
    margin-top: 5px;
  }

  .state-field {
    width: 220px;
    input {
      width: 60px;
    }
    .span1 {
      width: 70px;
    }

    &.short {
      width: 82px;
    }
  }

  .postal-code-field {
    width: 142px;
  }

  .zip-field,
  .postal-code-field {
    margin-left: 0;
    padding-left: 10px;
    .first-zip {
      width: 50px;
      float: left;
    }

    .second-zip {
      width: 35px;
      float: left;
    }

    .space {
      float: left;
      padding: 0 5px;
    }
  }

  .lot-field {
    input {
      width: 25px;
    }
  }

  .country-field {
    width: 70px;
    padding-left: 10px;
    margin-left: 0;
    input {
      width: 60px;
    }
  }

  .lot-field {
    margin-left: 0;
    padding-left: 10px;
  }

  .street-type-field {
    width: 82px;
    margin-left: 0;
    padding-left: 10px;
  }

  .election-name-field {
    input {
      width: 450px;
    }
  }

  .address-field {
    input {
      width: 450px;
    }
  }
}

.padded_page_span {
  margin-left: 90px;
  margin-right: 90px;
  width: 780px;
  float: none;
}

.radio,
.checkbox {
  padding-left: 22px;
  margin-left: -22px;

  input[type="radio"],
  input[type="checkbox"] {
    margin-left: -22px;
  }
}

.form-actions {
  background-color: #fff;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.form-actions {
  overflow: hidden;

  .back {
    float: left;
    background: image-url('buttons.png') no-repeat 100% -74px;
  }

  .back:hover {
      background: image-url('buttons.png') no-repeat 100% -37px;
  }

  .back:active {
      background: image-url('buttons.png') no-repeat 100% 0;
  }

  .next {
    float: right;
    background: image-url('buttons.png') no-repeat -570px -74px;
  }

  .next:hover {
    background: image-url('buttons.png') no-repeat -570px -37px;
  }

  .next:active {
    background: image-url('buttons.png') no-repeat -570px 0;
  }

  .next.disabled {
    cursor: default;
    background: image-url('buttons.png') no-repeat -570px 0;
    opacity: .5;
  }
}

.personal-info {

  .span2 {
    width: 120px;
  }
  .span3 {
    width: 200px;

    input {
      width: 188px;
    }
  }
}

#identity {
  .security-number {
    input#registration_ssn {
      width: 130px;
    }
  }

  .phone-field {
    width: 150px;

    input {
      width: 140px;
    }
  }
}

.notice {
  border: 1px solid #d2d1d2;
  padding: 5px 8px;
  width: 550px;
  margin-left: -9px;
  height: 95px;
  overflow-y: scroll;
}

#download {
  .download-link {
    float: right;
    background: image-url('icon_download.png') no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 0 10px 10px;
  }
}

.additional {
  margin-top: 16px;
}
.important {
  margin: 10px 0;
  font-size: 13px;
}
