#steps {
  background: #ebebeb;
  margin: 35px 90px 0;

  h2 {
    font-size: 15px;
    font-weight: normal;
    color: #a6a4a5;
    line-height: 31px;
    height: 31px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .current {
    background: image-url('current-step.jpg') no-repeat right top #3d75b9;
    h2 {
      font-weight: bold;
      color: #fff;
    }
    &.last {
      background-image: none;
    }
  }

  .done {
    background: #d8e3f1;
    h2 {
      color: #8aacd5;
      font-weight: bold;
    }
  }

  .span2,
  .span4 {
    margin: 0;
    text-align: center;
    width: 156px;
  }
}
