- step ||= 'identity'
.row#steps
  .span2{ class: %w( identity view ).include?(step) ? 'current' : 'done' }
    %h2 View &amp; Update

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), 0) }" }
    %h2 Addresses

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), 1) }" }
    %h2 Optional Questions

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), [ 2, 3, 4, 5 ], 'span2 last') }" }
    %h2 Complete

