- complete ||= false
.row#steps
  .span2{ class: !complete ? 'current' : 'done' }
    %h2= raw t 'search.step1'

  .span2{ class: complete ? 'done' : nil, 'data-bind' => "attr: { 'class': stepClass(step(), 2) }" }
    %h2= raw t 'search.step2'

  .span2{ class: complete ? 'done' : nil, 'data-bind' => "attr: { 'class': stepClass(step(), 3) }" }
    %h2= raw t 'search.step3'

  .span2{ class: complete ? 'current' : nil, 'data-bind' => "attr: { 'class': stepClass(step(), 4, 'span2 last') }" }
    %h2= raw t 'search.step4'

