- step ||= 'identity'
.row#steps
  .span2{ class: step == 'identity' ? 'current' : nil }
    %h2 Identity

  .span2{ class: %w( view update ).include?(step) ? 'current' : nil }
    %h2 View &amp; Update

  .span{ class: %w( oath download complete ).include?(step) ? 'current' : nil }
    %h2 Complete &amp; Mail
