= render partial: 'steps'

.row
  .padded_page_span.section
    .head
      %h3= @error.title
      .description
        = raw @error.message
        - if @error.can_retry?
          %p= raw t 'search.retry', changing_info: link_to("changing the information", :search), register: link_with_privacy_act_to("register to vote", {action: :new, controller: :registrations, lookup_performed: true}, id: "register",)

