#confirm.section{ 'data-bind' => 'visible: page() == "confirm"' }
  .head
    %h3 Confirm
    .description Please confirm that your information is accurate. If the information is not correct, please go back and correct it.
  .row
    .span12
      %strong Name and registration address
      %br/
      %div{ 'data-bind' => 'text: summaryFullName' }
      %div{ 'data-bind' => 'text: summaryAddress1' }
      %div{ 'data-bind' => 'text: summaryAddress2' }
  .row
    .span12
      %strong Date of birth
      %div{ 'data-bind' => 'text: summaryDOB' }
  .row
    .span12
      %strong Gender
      %br/
      Male
  .row
    .span12
      %strong Social Security Number
      %br/
      123-45-6789
  .row
    .span12
      %strong Phone
      %br/
      (757) 456-7891
  .row
    .span12
      %strong Email
      %br/
      johnQ@gmail.com
  .row
    .span12
      %strong Voter Status
      %br/
      Vote in person.

  .form-actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage'
