#congratulations.section{ 'data-bind' => 'visible: page() == "congratulations"' }
  .head
    %h3 Congratulations! You're almost registered.
    .description Don't forget, to officially register to vote in Virginia you will need to complete these steps:
  .partition
    .row
      .span10
        %ol
          %li Download
          %li Print
          %li Sign
          %li Mail
        %p
          %strong
            Mail your Virginia Voter Registration Application and proof of identity to your local
            %br/
            Voter Registration office:
        %p
          Accomack County
          %br/
          PO Box 97
          %br/
          Accomac, VA 23301-0097
  .partition
    .row
      .span10
        %p
          Within 30 days of mailing your Virginia Voter Registration Application, you should receive a
          %br/
          voter card by mail that will confirm you are registered to vote. If you do not receive a voter card
          %br/
          within in that time, please contact the
          %a{ :href => "#" }
            %strong Virginia State Board or Elections.
        %p Thank you!

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage'
