.row#steps
  .span2.current
    %h2 1. Eligibility

  .span2
    %h2 2. Identity

  .span2
    %h2 3. Addresses
    %ul
      %li Registration
      %li Mailing
      %li Previous

  .span2
    %h2 4. Options
    %ul
      %li Confidentiality
      %li Vote absentee
      %li Volunteer

  .span4
    %h2 5. Complete &amp; Mail
    %ul
      %li Download
      %li Print
      %li Sign
      %li Mail
