.row#steps
  .span2.current
    %h2 Eligibility

  .span2
    %h2 Identity

  .span2
    %h2 Addresses
    %ul
      %li Registration
      %li Mailing
      %li Previous

  .span2
    %h2 Options
    %ul
      %li Confidentiality
      %li Vote absentee
      %li Volunteer

  .span4.last
    %h2 Complete &amp; Mail
    %ul
      %li Download
      %li Print
      %li Sign
      %li Mail
