= render partial: "shared/page_header", locals: { title: "Register to Vote" }

.row
  .span-one-third
    %table.steps
      %tr#step_eligibility
        %td.marker 1
        %td Check Your Eligibility
      %tr#step_identity
        %td.marker 2
        %td Identify Yourself
      %tr#step_contact_info
        %td.marker 3
        %td Provide Contact Info
      %tr#step_complete
        %td.marker 4
        %td Complete Application
      %tr#step_return
        %td.marker 5
        %td Return Application

  .span-two-thirds
    = twitter_bootstrap_form_for @registration_request, url: :registration_request do |f|

      = render partial: 'eligibility', locals: { f: f }
      = render partial: 'identity', locals: { f: f }

-#      #contact_info.section
-#        = f.inputs 'Virginia voting residence' do
-#          = f.fields_for :virginia_voting_address, f.object.virginia_voting_address do |a|
-#            = a.text_field :street, 'Address'
-#            = a.text_field :city
-#            = a.text_field :zip, class: 'small'
-#
-#        = f.inputs 'Mailing address' do
-#          = f.fields_for :mailing_address, f.object.mailing_address do |a|
-#            = a.text_field :full_name
-#            = a.text_field :street, 'Address'
-#            = a.text_field :city
-#            = a.country_select :country
-#            = a.state_select :state, '', 'us'
-#            = a.text_field :zip, class: 'small'
-#
-#        = f.inputs 'Another state registration' do
-#          = f.toggles do
-#            %label
-#              = check_box_tag 'registered_in_another_state', false
-#              %span I am registered in another state
-#          #another_state
-#            = f.fields_for :foreign_state_address, f.object.foreign_state_address do |a|
-#              = a.text_field :street, 'Address'
-#              = a.text_field :city
-#              = a.state_select :state, '', 'us'
-#              = a.text_field :zip, class: 'small'
-#            = f.toggles do
-#              = f.check_box :authorized_cancelation, 'I authorize the cancellation of the previous registration (entered above)'
