= render partial: "shared/page_header", locals: { title: "Register to Vote" }

.row
  .span4
    = render partial: 'steps', locals: { return_is_current: true }

  .span8
    %h4 Instructions
    %p
      You are not officially registered to vote until this application is approved.
      You should receive a Voter Card in the mail. If you do not receive this
      acknowledgment within 30 days after mailing this form, please contact your
      city or county voter registration office or the State Board of Elections. If
      you are already registered to vote with your current name and address, you do
      not need to re-register. If you have any questions regarding your voter
      registration status, please call your local Voter Registration Office.

    %h4 Identification Requirement
    %h5 For Registration
    %p
      If you are registering for the first time by mail, federal law
      (the Help America Vote Act) requires you to provide identification. To avoid
      delays, please enclose a copy of one of the following documents that shows
      your name and address with your application: (1) current and valid photo ID,
      (2) current utility bill, (3) bank statement, (4) government check, (5) paycheck,
      or (6) other government document. You can also present this required identification
      at the polls but may experience delays.

    %h5 For Voting
    %p
      Virginia law requires every voter voting in person to show identification or
      sign a statement, subject to felony penalties for false statements pursuant
      to ยง24.2-1016, that the person is the named registered voter.

    %h4 Mailing Instructions
    %p
      %ul
        %li Place completed application in an envelope.
        %li Write your name and return address on envelope.
        %li Write the address of the voter registration office for the county or city where you live.
        %li Must be postmarked at least 22 days before the next Primary or General Election in which you plan to vote.

    = link_to "Download PDF", registration_request_path(format: 'pdf')
