---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/HARRISONBURG%20CITY/600000011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-04</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000011"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">MONA CATINA LEWIS </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>MONA</GivenName><MiddleName>CATINA</MiddleName><FamilyName>LEWIS</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="LN" number="1173H"
        name="Devon">1173H Devon LN Apt H</Thoroughfare><Locality type="Town">Harrisonburg</Locality><AdministrativeArea
        type="StateCode">VA</AdministrativeArea><PostCode type="ZipCode">228015259</PostCode><Country>US</Country></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">1173H Devon LN Apt H</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Harrisonburg</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">US</AddressLine><AddressLine type="MailingState" seqn="0004">VA</AddressLine><AddressLine
        type="MailingZip" seqn="0005">228015259</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone/></Contact><EffectiveDateAdded>2008-09-29</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Felony">no</CheckBox><CheckBox
        Type="Incapacitated">yes</CheckBox><CheckBox Type="AddressConfidential">no</CheckBox><CheckBox
        Type="Military">no</CheckBox><CheckBox Type="Overseas">no</CheckBox><CheckBox
        Type="Disabled">no</CheckBox><CheckBox Type="Federal Only">no</CheckBox><PollingDistrict><Association
        Id="PrecinctSplitUID">37d942c8-181c-42a1-a089-79d102ff14f4</Association><Association
        Id="PrecinctName">103 - SOUTHEAST</Association><Association Id="LocalityName">HARRISONBURG
        CITY</Association><Association Id="ElectoralDistrict">EAST DISTRICT</Association><Association
        Id="CongressionalDistrictCode">06</Association><Association Id="CongressionalDistrict">6th
        District</Association><Association Id="SenateDistrictCode">026</Association><Association
        Id="SenateDistrict">26th District</Association><Association Id="StateHouseDistrictCode">026</Association><Association
        Id="StateHouseDistrict">26th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">STONE SPRING ELEMENTARY SCHOOL</AddressLine><AddressLine
        type="Address" seqn="0002">1575 PEACH GROVE AVE</AddressLine><AddressLine
        type="City" seqn="0003">HARRISONBURG</AddressLine><AddressLine type="State"
        seqn="0004">VA</AddressLine><AddressLine type="Zip" seqn="0005">228015259</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">5404327707</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">PO BOX 20031</AddressLine><AddressLine type="City" seqn="0003">HARRISONBURG</AddressLine><AddressLine
        type="State" seqn="0004">VA</AddressLine><AddressLine type="Zip" seqn="0005">22801-7531</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation><Message
        DisplayOrder="0001" Type="Incapacitated" Seqn="1"><Incapacitated IsIncapacitated="yes"
        xmlns="https://wscp.virginia.gov/voter"/></Message></FurtherInformation></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">HARRISONBURG CITY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="bd8b6304-14a1-478c-879f-d28494e4ef74" DisplayOrder="0002"><ElectionName>2016
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
[...]
