---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/ALBEMARLE%20COUNTY/600000048
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-20</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000048"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">THOMAS P SINGH </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>THOMAS</GivenName><MiddleName>P</MiddleName><FamilyName>SINGH</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="WAY" number="335"
        name="Portico">335 Portico Way Apt 401</Thoroughfare><OtherDetail type="ApartmentNumber">Apt
        401</OtherDetail><Locality type="Town">Charlottesville</Locality><AdministrativeArea
        type="StateCode">VA</AdministrativeArea><PostCode type="ZipCode">229118472</PostCode><Country/></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">335 Portico Bay flat 1</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Rome</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">IT</AddressLine><AddressLine type="MailingZip" seqn="0004">123ERTv3</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone/></Contact><EffectiveDateAdded>2004-07-20</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Eighteenplus">yes</CheckBox><CheckBox
        Type="AddressConfidential">no</CheckBox><CheckBox Type="Military">yes</CheckBox><CheckBox
        Type="Overseas">yes</CheckBox><CheckBox Type="Disabled">no</CheckBox><CheckBox
        Type="Federal Only">yes</CheckBox><PollingDistrict><Association Id="PrecinctSplitUID">25ac339f-4478-4828-9075-7fe87de7a420</Association><Association
        Id="PrecinctName">504 - FREE BRIDGE</Association><Association Id="LocalityName">ALBEMARLE
        COUNTY</Association><Association Id="ElectoralDistrict">RIVANNA DISTRICT</Association><Association
        Id="CongressionalDistrictCode">05</Association><Association Id="CongressionalDistrict">5th
        District</Association><Association Id="SenateDistrictCode">017</Association><Association
        Id="SenateDistrict">17th District</Association><Association Id="StateHouseDistrictCode">057</Association><Association
        Id="StateHouseDistrict">57th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">ELKS LODGE HALL</AddressLine><AddressLine
        type="Address" seqn="0002">389 ELK DR</AddressLine><AddressLine type="City"
        seqn="0003">CHARLOTTESVILLE</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">229118472</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">4349724173</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">PMB 404</AddressLine><AddressLine type="AddressLine2" seqn="0003">536
        PANTOPS CENTER</AddressLine><AddressLine type="City" seqn="0004">CHARLOTTESVILLE</AddressLine><AddressLine
        type="State" seqn="0005">VA</AddressLine><AddressLine type="Zip" seqn="0006">22911</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Federal Only</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">ALBEMARLE COUNTY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox><CheckBox
        Type="FutureElection">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="d984ff7e-140b-4847-bf0e-37e171384950" DisplayOrder="0002"><ElectionName>2015
        November General</ElectionName><ElectionCategory>Federal Only</Electi[...]
