---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/CHESAPEAKE%20CITY/600000036
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-18</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000036"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">RODERICK SUZANNE CHAPPELL </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>RODERICK</GivenName><MiddleName>SUZANNE</MiddleName><FamilyName>CHAPPELL</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="BLVD" number="1417"
        name="Great Bridge">1417 Great Bridge Blvd</Thoroughfare><Locality type="Town">Chesapeake</Locality><AdministrativeArea
        type="StateCode">VA</AdministrativeArea><PostCode type="ZipCode">233206421</PostCode><Country>US</Country></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">1417 Great Bridge Blvd</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Chesapeake</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">US</AddressLine><AddressLine type="MailingState" seqn="0004">VA</AddressLine><AddressLine
        type="MailingZip" seqn="0005">233206421</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone><Number>2423642943</Number></Telephone></Contact><EffectiveDateAdded>2001-12-07</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Eighteenplus">yes</CheckBox><CheckBox
        Type="AddressConfidential">no</CheckBox><CheckBox Type="Military">no</CheckBox><CheckBox
        Type="Overseas">no</CheckBox><CheckBox Type="Disabled">no</CheckBox><CheckBox
        Type="Federal Only">no</CheckBox><PollingDistrict><Association Id="PrecinctSplitUID">b7c1324b-4039-46dd-8da2-451b12ef1b43</Association><Association
        Id="PrecinctName">005 - CRESTWOOD</Association><Association Id="LocalityName">CHESAPEAKE
        CITY</Association><Association Id="ElectoralDistrict">CHESAPEAKE CITY DISTRICT</Association><Association
        Id="CongressionalDistrictCode">04</Association><Association Id="CongressionalDistrict">4th
        District</Association><Association Id="SenateDistrictCode">005</Association><Association
        Id="SenateDistrict">5th District</Association><Association Id="StateHouseDistrictCode">077</Association><Association
        Id="StateHouseDistrict">77th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">CRESTWOOD MIDDLE SCHOOL</AddressLine><AddressLine
        type="Address" seqn="0002">1420 GREAT BRIDGE BLVD</AddressLine><AddressLine
        type="City" seqn="0003">CHESAPEAKE</AddressLine><AddressLine type="State"
        seqn="0004">VA</AddressLine><AddressLine type="Zip" seqn="0005">233206421</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">7572779797</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">P.O. BOX 15225</AddressLine><AddressLine type="City" seqn="0003">CHESAPEAKE</AddressLine><AddressLine
        type="State" seqn="0004">VA</AddressLine><AddressLine type="Zip" seqn="0005">23328-5225</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">CHESAPEAKE CITY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox><CheckBox
        Type="FutureElection">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="d984ff7e-140b-4847-bf0e-37e171384950" DisplayOrder="0002"><ElectionName>2015
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionC[...]
