---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/ElectionList.svc/VIRGINIA%20BEACH%20CITY/600000029
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-08-30</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000029"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">BERTHA SUE LAMAR SNYDER </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>BERTHA SUE</GivenName><MiddleName>LAMAR</MiddleName><FamilyName>SNYDER</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="WAY" number="1901"
        name="Beagle">1901 Beagle Way</Thoroughfare><Locality type="Town">Virginia
        Beach</Locality><AdministrativeArea type="StateCode">VA</AdministrativeArea><PostCode
        type="ZipCode">234532956</PostCode><Country>US</Country></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">1901 Beagle Way</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Virginia Beach</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">US</AddressLine><AddressLine type="MailingState" seqn="0004">VA</AddressLine><AddressLine
        type="MailingZip" seqn="0005">234532956</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone><Number>4124007572</Number></Telephone></Contact><EffectiveDateAdded>2007-06-13</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Felony">no</CheckBox><CheckBox
        Type="Incapacitated">no</CheckBox><CheckBox Type="AddressConfidential">no</CheckBox><CheckBox
        Type="Military">no</CheckBox><CheckBox Type="Overseas">no</CheckBox><CheckBox
        Type="Disabled">no</CheckBox><CheckBox Type="Federal Only">no</CheckBox><PollingDistrict><Association
        Id="PrecinctSplitUID">ddb8f10c-703b-40b4-8acf-ef48864008fc</Association><Association
        Id="PrecinctName">062 - LANDSTOWN</Association><Association Id="LocalityName">VIRGINIA
        BEACH CITY</Association><Association Id="ElectoralDistrict">VIRGINIA BEACH
        CITY</Association><Association Id="CongressionalDistrictCode">02</Association><Association
        Id="CongressionalDistrict">2nd District</Association><Association Id="SenateDistrictCode">008</Association><Association
        Id="SenateDistrict">8th District</Association><Association Id="StateHouseDistrictCode">084</Association><Association
        Id="StateHouseDistrict">84th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">LANDSTOWN COMMUNITY CHURCH</AddressLine><AddressLine
        type="Address" seqn="0002">3220 MONET DR</AddressLine><AddressLine type="City"
        seqn="0003">VIRGINIA BEACH</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">234532956</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">7573858683</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">PO BOX 6247</AddressLine><AddressLine type="City" seqn="0003">VIRGINIA
        BEACH</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">23456</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">VIRGINIA BEACH CITY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="bd8b6304-14a1-478c-879f-d28494e4ef74" DisplayOrder="0002"><ElectionName>2016
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Nam[...]
