---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/NEWPORT%20NEWS%20CITY/600000030
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-27</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000030"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">KEOSHA BOVIA FLORES </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>KEOSHA</GivenName><MiddleName>BOVIA</MiddleName><FamilyName>FLORES</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="CRES" number="23"
        name="Timberline">23 Timberline Cres</Thoroughfare><Locality type="Town">Newport
        News</Locality><AdministrativeArea type="StateCode">VA</AdministrativeArea><PostCode
        type="ZipCode">236063902</PostCode><Country/></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">23 Timberline Cres</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Newport News</AddressLine><AddressLine type="MailingState"
        seqn="0003">VA</AddressLine><AddressLine type="MailingZip" seqn="0004">236063902</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone/></Contact><EffectiveDateAdded>1996-09-11</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">yes</CheckBox><CheckBox Type="Eighteenplus">yes</CheckBox><CheckBox
        Type="AddressConfidential">no</CheckBox><CheckBox Type="Military">no</CheckBox><CheckBox
        Type="Overseas">no</CheckBox><CheckBox Type="Disabled">no</CheckBox><CheckBox
        Type="Federal Only">no</CheckBox><PollingDistrict><Association Id="PrecinctSplitUID">eac644a8-68eb-4008-b215-cc7860d32bec</Association><Association
        Id="PrecinctName">202 - BOULEVARD</Association><Association Id="LocalityName">NEWPORT
        NEWS CITY</Association><Association Id="TownshipName">CENTRAL DISTRICT</Association><Association
        Id="ElectoralDistrict">CENTRAL DISTRICT</Association><Association Id="CongressionalDistrictCode">02</Association><Association
        Id="CongressionalDistrict">2nd District</Association><Association Id="SenateDistrictCode">001</Association><Association
        Id="SenateDistrict">1st District</Association><Association Id="StateHouseDistrictCode">094</Association><Association
        Id="StateHouseDistrict">94th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">KNIGHTS OF COLUMBUS</AddressLine><AddressLine
        type="Address" seqn="0002">12742 NETTLES DR</AddressLine><AddressLine type="City"
        seqn="0003">NEWPORT NEWS</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">236063902</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">7579268683</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">CITY HALL</AddressLine><AddressLine type="AddressLine2" seqn="0003">2400
        WASHINGTON AVE</AddressLine><AddressLine type="City" seqn="0004">NEWPORT NEWS</AddressLine><AddressLine
        type="State" seqn="0005">VA</AddressLine><AddressLine type="Zip" seqn="0006">23607-4305</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">NEWPORT NEWS CITY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox><CheckBox
        Type="FutureElection">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="d984ff7e-140b-4847-bf0e-37e171384950" DisplayOrder="0002"><ElectionName>2015
        November General</ElectionName><ElectionCategory>Full Ballot</Electio[...]
