---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/NEWPORT%20NEWS%20CITY/600000009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-06</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000009"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">CAROLYN LORALENE STAMPER </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>CAROLYN</GivenName><MiddleName>LORALENE</MiddleName><FamilyName>STAMPER</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="DR" number="311"
        name="Bernard">311 Bernard Dr</Thoroughfare><Locality type="Town">Newport
        News</Locality><AdministrativeArea type="StateCode">VA</AdministrativeArea><PostCode
        type="ZipCode">236026735</PostCode><Country>US</Country></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">311 Bernard Dr</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Newport News</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">US</AddressLine><AddressLine type="MailingState" seqn="0004">VA</AddressLine><AddressLine
        type="MailingZip" seqn="0005">236026735</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone><Number>7573030719</Number></Telephone></Contact><EffectiveDateAdded>1999-03-12</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Felony">no</CheckBox><CheckBox
        Type="Incapacitated">no</CheckBox><CheckBox Type="AddressConfidential">no</CheckBox><CheckBox
        Type="Military">no</CheckBox><CheckBox Type="Overseas">no</CheckBox><CheckBox
        Type="Disabled">no</CheckBox><CheckBox Type="Federal Only">no</CheckBox><PollingDistrict><Association
        Id="PrecinctSplitUID">2f62223a-8698-4df9-9ac1-c9bb0688d1f4</Association><Association
        Id="PrecinctName">103 - JENKINS</Association><Association Id="LocalityName">NEWPORT
        NEWS CITY</Association><Association Id="ElectoralDistrict">NORTH DISTRICT</Association><Association
        Id="CongressionalDistrictCode">03</Association><Association Id="CongressionalDistrict">3rd
        District</Association><Association Id="SenateDistrictCode">001</Association><Association
        Id="SenateDistrict">1st District</Association><Association Id="StateHouseDistrictCode">094</Association><Association
        Id="StateHouseDistrict">94th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">JENKINS ELEM SCHOOL</AddressLine><AddressLine
        type="Address" seqn="0002">80 MENCHVILLE RD</AddressLine><AddressLine type="City"
        seqn="0003">NEWPORT NEWS</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">236026735</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">7579268683</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">CITY HALL</AddressLine><AddressLine type="AddressLine2" seqn="0003">2400
        WASHINGTON AVE</AddressLine><AddressLine type="City" seqn="0004">NEWPORT NEWS</AddressLine><AddressLine
        type="State" seqn="0005">VA</AddressLine><AddressLine type="Zip" seqn="0006">23607-4305</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>male</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">NEWPORT NEWS CITY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="d984ff7e-140b-4847-bf0e-37e171384950" DisplayOrder="0002"><ElectionName>2015
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
[...]
