---
http_interactions:
- request:
    method: get
    uri: https://wscp.sbe.virginia.gov/electionlist.svc/v1/2897AAFA-6C5E-4AEE-B405-E3768212C34A/ARLINGTON%20COUNTY/600000038
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><EML SchemaVersion="7.0" Id="330"
        xmlns="urn:oasis:names:tc:evs:schema:eml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><EMLHeader><TransactionId>330</TransactionId><OfficialStatusDetail><OfficialStatus>approved</OfficialStatus><StatusDate>2012-09-17</StatusDate></OfficialStatusDetail></EMLHeader><ElectionList><VoterDetails><VoterRegistration><Voter><Source
        Role="sender"><Name>Virginia</Name></Source><VoterIdentification Id="600000038"><VoterName><PersonFullName
        xmlns="urn:oasis:names:tc:ciq:xnl:4">JAMES  BENNETT </PersonFullName><PersonNameDetail
        xmlns="urn:oasis:names:tc:ciq:xnl:4"><GivenName>JAMES</GivenName><FamilyName>BENNETT</FamilyName></PersonNameDetail></VoterName><ElectoralAddress><PostalAddress
        xmlns="urn:oasis:names:tc:ciq:xal:4"><Thoroughfare type="ST" number="1029"
        name="Stuart">1029 N Stuart St Apt 513</Thoroughfare><OtherDetail type="ApartmentNumber">Apt
        513</OtherDetail><Locality type="Town">Arlington</Locality><AdministrativeArea
        type="StateCode">VA</AdministrativeArea><PostCode type="ZipCode">222014753</PostCode><Country>US</Country></PostalAddress></ElectoralAddress></VoterIdentification><VoterInformation><Contact><MailingAddress
        usage="Mailing"><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="MailingAddressLine1" seqn="0001">UNIT 3050 Box 63</AddressLine><AddressLine
        type="MailingCity" seqn="0002">Dpo</AddressLine><AddressLine type="MailingCountry"
        seqn="0003">US</AddressLine><AddressLine type="MailingState" seqn="0004">AA</AddressLine><AddressLine
        type="MailingZip" seqn="0005">340250063</AddressLine></FreeTextAddress></MailingAddress><Email/><Telephone/></Contact><EffectiveDateAdded>2008-03-04</EffectiveDateAdded><PreferredLanguage>English</PreferredLanguage><CheckBox
        Type="ActiveRegistration">yes</CheckBox><CheckBox Type="OngoingAbsentee">no</CheckBox><CheckBox
        Type="ElectionLevelAbsentee">no</CheckBox><CheckBox Type="Eighteenplus">yes</CheckBox><CheckBox
        Type="AddressConfidential">no</CheckBox><CheckBox Type="Military">no</CheckBox><CheckBox
        Type="Overseas">yes</CheckBox><CheckBox Type="Disabled">no</CheckBox><CheckBox
        Type="Federal Only">no</CheckBox><PollingDistrict><Association Id="PrecinctSplitUID">b74b6819-5210-4a37-9b09-574756101252</Association><Association
        Id="PrecinctName">014 - CLARENDON</Association><Association Id="LocalityName">ARLINGTON
        COUNTY</Association><Association Id="ElectoralDistrict">ARLINGTON DISTRICT</Association><Association
        Id="CongressionalDistrictCode">08</Association><Association Id="CongressionalDistrict">8th
        District</Association><Association Id="SenateDistrictCode">031</Association><Association
        Id="SenateDistrict">31st District</Association><Association Id="StateHouseDistrictCode">047</Association><Association
        Id="StateHouseDistrict">47th District</Association></PollingDistrict><PollingPlace
        Channel="polling"><PhysicalLocation><Address><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="LocationName" seqn="0001">WASHINGTON-LEE HIGH SCHOOL</AddressLine><AddressLine
        type="Address" seqn="0002">1301 N STAFFORD ST</AddressLine><AddressLine type="City"
        seqn="0003">ARLINGTON</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">222014753</AddressLine></FreeTextAddress></Address></PhysicalLocation></PollingPlace><PollingPlace
        Channel="postal"><PostalLocation><FreeTextAddress xmlns="urn:oasis:names:tc:ciq:xal:4"><AddressLine
        type="Phone" seqn="0001">7032283456</AddressLine><AddressLine type="AddressLine1"
        seqn="0002">2100 CLARENDON BLVD STE 320</AddressLine><AddressLine type="City"
        seqn="0003">ARLINGTON</AddressLine><AddressLine type="State" seqn="0004">VA</AddressLine><AddressLine
        type="Zip" seqn="0005">22201-5400</AddressLine></FreeTextAddress></PostalLocation></PollingPlace><Gender>female</Gender><FurtherInformation/></VoterInformation></Voter></VoterRegistration><Election><ElectionIdentifier
        IdNumber="952d18a9-be40-422c-aed9-826370a9340b" DisplayOrder="0001"><ElectionName>2019
        November General</ElectionName><ElectionCategory>Full Ballot</ElectionCategory></ElectionIdentifier><PollingDistrict><Name
        divisionType="locality">ARLINGTON COUNTY</Name></PollingDistrict><CheckBox
        Type="Voted">no</CheckBox><CheckBox Type="Permitted">yes</CheckBox><CheckBox
        Type="FutureElection">yes</CheckBox></Election><Election><ElectionIdentifier
        IdNumber="bd8b6304-14a1-478c-879f-d28494e4ef74" DisplayOrder="0002"><ElectionName>2016
        November General</ElectionName><ElectionCategory>Full Ballot</Election[...]
