#complete.section
  .head
    %h3
      Congratulations!
      %em Your Virginia Voter Record is almost updated.
    .description
      Don't forget, to officially update your Virginia Voter Record
      you will need to complete these steps:

  .partition
    .row
      .span10
        %ol
          %li Download
          %li Print
          %li Sign
          %li Mail
        %p
          %strong
            Mail your updated Virginia Voter Record to your local
            %br/
            Voter Registration office:
        %p= office_address(@registration.vvr_county_or_city)
  .partition
    .row
      .span10
        %p
          Within 30 days of mailing your updated Virginia Voter Record, you should receive a
          %br/
          voter card by mail that will confirm your updated Voter Record. If you do not receive a voter card
          %br/
          within in that time, please contact the
          %a{ :href => "#" }
            %strong Virginia State Board or Elections.
        %p Thank you!

  .form-actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: gotoDownload'

