#congratulations.section{ 'data-bind' => 'vis: page() == "congratulations"' }
  .head
    %h3 Congratulations! You're almost registered.
    .description Don't forget, to officially register to vote in Virginia you will need to complete these steps:
  .partition
    .row
      .span10
        %ol
          %li Download
          %li Print
          %li Sign
          %li Mail
        %p
          %strong
            Mail your Virginia Voter Registration Application and proof of identity to your local
            %br/
            Voter Registration office:
        %p= office_address(@registration.vvr_county_or_city)
  .partition
    .row
      .span10
        %p= I18n.t('congratulations.instructions').html_safe

  .form-actions
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: gotoDownload'
