.row
  .span10
    .head.light
      %h3 Voting Status

    <!-- ko if: overseas -->
    %p
      %strong Overseas/Military Absentee Voter
    %p Receiving an absentee ballot for elections through <strong data-bind="text: absenteeUntilFormatted"></strong>
    <!-- /ko -->

    <!-- ko if: domestic() && requestingAbsentee() -->
    %p
      %strong Domestic Absentee Voter
    %p
      Requesting an <strong>Absentee Ballot</strong> for <span data-bind='html: summaryElection'></span>
    <!-- /ko -->

    <!-- ko if: domestic() && !requestingAbsentee() -->
    %p
      %strong Virginia Residential Voter
    <!-- /ko -->
