#confirm.section{ 'data-bind' => 'vis: page() == "confirm"' }
  .head
    %h3 Confirm
    .description Please confirm that your information is accurate. If the information is not correct, please go back and correct it.

  .row
    .span10
      .head.light
        %h3 Voter Information
      .summary
        .body
          %table.table.properties
            %tr
              %th Name:
              %td{ 'data-bind' => 'text: summaryFullName' }
            %tr
              %th Citizen?
              %td{ 'data-bind' => 'text: summaryCitizen' }
            %tr
              %th Old enough?
              %td{ 'data-bind' => 'text: summaryOldEnough' }
            %tr
              %th Voting rights summary:
              %td{ 'data-bind' => 'html: summaryVotingRights' }
            %tr
              %th Date of birth:
              %td{ 'data-bind' => 'text: summaryDOB' }
            %tr
              %th Social security number:
              %td{ 'data-bind' => 'text: summarySSN' }
            %tr
              %th Department of Motor Vehicles ID:
              %td{ 'data-bind' => 'text: summaryDMVID' }
            %tr
              %th Gender:
              %td{ 'data-bind' => 'text: summaryGender' }
            <!-- ko if: phone -->
            %tr
              %th Phone:
              %td{ 'data-bind' => 'text: phone' }
            <!-- /ko -->
            <!-- ko if: email -->
            %tr
              %th Email:
              %td{ 'data-bind' => 'text: email' }
            <!-- /ko -->

            %tr
              %th Registration address:
              %td{ 'data-bind' => 'html: summaryRegistrationAddress' }
            %tr
              %th Mailing address:
              %td
                %p{ 'data-bind' => 'html: summaryMailingAddress' }
                <!-- ko if: overseas -->
                (used for absentee ballot and other voting correspondence)
                <!-- /ko -->
            <!-- ko if: summaryExistingRegistration -->
            %tr
              %th Existing registration:
              %td{ 'data-bind' => 'html: summaryExistingRegistration' }
            <!-- /ko -->
            %tr{ 'data-bind' => 'if: showingPartySummary' }
              %th #{party_preference_label}:
              %td
                %span{ 'data-bind' => 'text: summaryParty' }
            %tr{ 'data-bind' => 'if: isConfidentialAddress' }
              %th Address confidentiality:
              %td{ 'data-bind' => 'html: summaryAddressConfidentiality' }

  = render partial: 'confirm_absentee_status'


  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage'
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: prevPage'
