- pdf_url = registration_path(format: 'pdf')
#download.section{ 'data-bind' => 'vis: page() == "download"' }
  .head
    %h3 Download
    .description #{link_to "Download and view", pdf_url, 'data-bind' => 'click: markAsDownloaded', target: '_blank' } your Virginia Voter Registration Application.
  .row
    .span10
      = link_to "", pdf_url, class: 'download-link', target: '_blank', 'data-bind' => 'click: markAsDownloaded'
      %p
        We have created your Virginia Voter Registration Application using the
        information you provided. Click the PDF icon below to download. The
        Virginia Voter Registration Application PDF will open in your default
        PDF viewing application, or in your web browser.

        %a{ :href => "#" }
          %strong Adobe Acrobat Reader
        is required to view PDF files.

      %p Check the PDF for accuracy.
      %p
        If the PDF has any incorrect information, return to the
        %a{ :href => "#" }
          %strong Home
        page and re-enter your information.

  .head
    %h3 Print
    .description Print your Virginia Voter Registration Application.
  .row
    .span10
      %p
        Print your Virginia Voter Registration Application by selecting the PRINT button in the PDF.
        %br/
        You can also select File/Print in your default PDF viewing application.

  .head
    %h3 Sign
    .description Sign and date your Virginia Voter Registration Application.
  .row
    .span10
      %p
        Don't forget to sign and date your Virginia Voter Registration Application. It will not be
        %br/
        approved if you do not.

  .head
    %h3 Mail
    .description Mail your Virginia Voter Registration Application.
  .row
    .span10
      %p
        Mail your Virginia Voter Registration Application and
        %a{ :href => "#" }
          %strong proof of identity
        to your local
        %br/
        Voter Registration Office.
      %p
        %strong= office_address(@registration.vvr_county_or_city)
      %p
        Your return envelope must be postmarked at least 22 days before the next Primary or
        %br/
        General Election in which you plan to vote.

  .form-actions
    = button_tag 'Next &rarr;'.html_safe, class: 'next btn', 'data-bind' => 'click: nextPage, css: { disabled: downloadInvalid }'
