.partition
  .security-number
    = f.label :ssn, "Social Security Number"
    = f.text_field :ssn, autocomplete: ac, placeholder: "NNN-NN-NNNN", maxlength: 11, 'data-bind' => 'disable: noSSN, instantValidation: { accessor: "ssn", validation: "ssn" }, valueUpdate: "afterkeyup"', class: 'span3 ssn'
    .checkbox
      = f.check_box :no_ssn, 'data-bind' => 'checked: noSSN'
      = f.label :no_ssn, "I do not have a Social Security Number"
