.partition.citizen
  %h4= raw t('eligibility.citizen.question')
  .radio
    = f.radio_button :citizen, '1', 'data-bind' => 'checkedWithInit: citizen'
    %label{ for: 'registration_citizen_1' } Yes
  .radio
    = f.radio_button :citizen, '0', 'data-bind' => 'checkedWithInit: citizen'
    %label{ for: 'registration_citizen_0' } No
  .block.ineligible{ 'data-bind' => "visible: citizen() == '0'" }
    %p= raw t("eligibility.citizen.ineligible")
