#ineligible.section{ 'data-bind' => 'vis: page() == "ineligible"' }
  .head
    %h3 Eligibility
    .description Eligibility to vote in Virginia.

  .external-page
    = ExternalPages.get_by_name :ineligible

  .form-actions
    = button_tag '&larr; Back'.html_safe, class: 'back btn', 'data-bind' => 'click: backFromIneligible'
