#ineligible.section{ 'data-bind' => 'vis: page() == "ineligible"' }
  .head
    %h3 Eligibility
    .description= "Eligibility to vote in #{AppConfig["state_name"]}."

  .external-page
    = ExternalPages.get_by_name :ineligible

  .form-actions
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: backFromIneligible'
