- updating ||= false
- condition = 'page() == "oath"'
- if completion_config['combine_attestation_with_confirmation']
  - condition += " || page() == 'confirm'";


#oath.section{ 'data-bind' => 'vis: ' + condition }
  = render partial: 'oath_details', locals: { f: f, updating: updating }

  .form-actions
    = button_tag 'Next', class: 'next bt', 'data-bind' => 'click: nextFromOath, css: { disabled: oathInvalid }'
    = button_tag 'Back', class: 'back bt', 'data-bind' => 'click: prevPage'