%li
  - unless no_forms?
    = radio_button_tag "status", "residential_voter", reg.status == "residential_voter"
  %label{ for: 'status_residential_voter' } Virginia Residential Voter
  - if @registration.currently_residential?
    - af = @registration.absentee_for_elections || []
    %p
      - if af.empty?
        Voter able to go to polls for the upcoming elections.
      - else
        Approved for Absentee Ballot: #{af.humanized_list_join}  #{pluralize(af.size, 'Election')}.
  - else
    %p
      I now reside Virginia, and need to update my registration to vote in the
      upcoming elections.
