%li
  = radio_button_tag "status", "domestic_absentee", reg.status == "domestic_absentee"
  %label{ for: 'status_domestic_absentee' } Domestic Absentee Voter
  - if @registration.currently_domestic_absentee?
    %p
      I am a Virginia resident, receiving an absentee ballot for <strong>#{@registration.absentee_for_elections.join(', ')}</strong>.
  - else
    %p
      I am a Virginia resident but am not able to go to the polls on election
      day and would like to request an <strong>Absentee Ballot Application</strong>.
