%li
  = radio_button_tag "status", "residential_voter", reg.status == "residential_voter"
  %label{ for: 'status_residential_voter' } Virginia Residential Voter
  - if @registration.currently_residential_voter?
    %p Resident able to go to polls for the upcoming elections.
  - else
    %p Resident able to go to polls for the upcoming election on 06/12/2012.
