%li
  = radio_button_tag "status", "residential_absentee", reg.status == "residential_absentee"
  %label Domestic Absentee Voter
  %p
    I am a Virginia resident but am not able to go to the polls on election
    day and would like to request an <strong>Absentee Ballot Application</strong>.
