%li
  = radio_button_tag "status", "overseas", reg.status == "overseas"
  %label Overseas/Military Absentee Voter
  %p
    I am living overseas and won't be in the U.S. on election day and need
    an <strong>Ansentee Ballot</strong>.
