.row#steps
  .span2.current{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), [ 0, 1, 2 ]) }" }
    %h2 Eligibility

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), 3) }" }
    %h2 Identity

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), 4) }" }
    %h2 Addresses

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), 5) }" }
    %h2 Optional Questions

  .span2{ 'data-bind' => "attr: { 'class': stepClass(currentPageIdx(), [ 6, 7, 8 ], 'span2 last') }" }
    %h2 Complete
