#submit_online.section{ 'data-bind' => 'vis: page() == "submit_online"' }
  .head
    %h3= raw t('submit_paperless.title')
    .description= raw t('submit_paperless.subheader')

  .row
    .span10
      = raw t('submit_paperless.details')

  .form-actions
    = button_tag 'Submit', class: 'submit bt', 'data-bind' => 'click: submitForm'
