#final.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3= I18n.t('submit.title')
    .description= I18n.t('submit.subheader')

  .row
    .span10
      = I18n.t('submit.details').html_safe
