#final.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3= raw t('submitted_paperless.title')
    .description= raw t('submitted_paperless.subheader')

  .row
    .span10
      %p= raw t('submitted_paperless.details')
      %p.gr
        %strong= office_address(@registration.vvr_county_or_city)
