#final.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3= I18n.t('submitted_paperless.title')
    .description= I18n.t('submitted_paperless.subheader')

  .row
    .span10
      = I18n.t('submitted_paperless.details').html_safe
