#final.section{ 'data-bind' => 'vis: page() == "final"' }
  .head
    %h3 TBD
    .description
      Sub label TBD

  .row
    .span10
      TBD text for completing online submission with no paper form needed
