- submitted_with_dmvid = @submitted && @registration.dmv_id.present?
- @page_id = submitted_with_dmvid ? 'nr_submitted_with_dmvid' : 'nr_download'

= render partial: 'steps', locals: { complete: true }

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .padded_page_span
    - if @registration.submission_failed
      %p TBD 310 error

    - if submitted_with_dmvid
      = render partial: 'submitted_with_dmvid'
    - else
      = render partial: 'download'

