- unregistered_dmv = @dmv_lookup[:dmv_match] && !@dmv_lookup[:registered]
- @page_id = unregistered_dmv ? 'nr_unregistered_dmv' : 'nr_download'

= render partial: 'steps'

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .padded_page_span
    - if unregistered_dmv
      = render partial: 'unregistered_dmv'
    - else
      = render partial: 'download'
      = render partial: 'congratulations'

