- @page_id = 'new_registration_finalization'

= render partial: 'steps'

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

    = debug @dmv_lookup

.row
  .padded_page_span
    = render partial: 'download'
    = render partial: 'congratulations'

