- @page_id = @paperless_submission ? 'nr_submitted_with_dmvid' : 'nr_download'

= render partial: 'steps', locals: { complete: true }

.row.disclaimer
  .span12
    %p
      All information in this online experience is required by state or federal
      law, unless specifically marked optional.

.row
  .padded_page_span
    - if @paperless_submission
      = render partial: 'submitted_with_dmvid'
    - elsif ovr_config['EnablePaperService']
      = render partial: 'download'
    - else
      = ExternalPages.get_by_name :failed_digital_no_paper
