= render partial: "search/steps", locals: { step: 'update' }

.row
  .padded_page_span
    = form_for @registration, url: :registration  do |f|
      = render partial: 'update_section', locals: { f: f }
      = render partial: 'oath_section', locals: { f: f }
