- @page_id = 'update_finalization'

= render partial: "search/steps", locals: { complete: true }

.row
  .padded_page_span
    - if @paperless_submission
      = render partial: 'submitted_with_dmvid'
    - else
      = render partial: 'download', locals: { update: true }
