- @page_id = 'update_finalization'

= render partial: "search/steps", locals: { step: 'download' }

.row
  .padded_page_span
    - if @submitted && @registration.dmv_id.present?
      = render partial: 'submitted_with_dmvid'
    - else
      = render partial: 'download', locals: { update: true }
      = render partial: 'complete_section'
