- @page_id = 'update_finalization'

= render partial: "search/steps", locals: { step: 'download' }

.row
  .padded_page_span
    = render partial: 'download', locals: { update: true }
    = render partial: 'complete_section'
