- vid ||= '3581995'

%form{ action: AppConfig['dl']['url'], 'accept-charset' => "utf-8", target: '_blank' }
  = hidden_field_tag "search[vid]", vid
  = hidden_field_tag "token", AppConfig['dl']['access_token']
  = hidden_field_tag "account", AppConfig['dl']['account_id']
  = submit_tag "Mark My Ballot Online", class: 'btn'
