.row.referendum
  .span10
    %p
      %strong= contest[:office]

  - contest[:candidates].each do |candidate|
    .row
      .span9
        #{candidate[:name]}
    .row
      .check
      .span8 Yes
    .row
      .check
      .span8 No
