#front
  .row
    .span-one-third
      &nbsp;

    .span-two-thirds.dates
      %h2 Virginia Voter Registration

      .row
        .span3 General Election:
        .span3 Nov 6, 2012
      .row
        .span3 Registration Deadline:
        .span3 Sep 6, 2012

  .row.main
    .span-one-third.sidebar
      %p
        %em Welcome to the Virginia Voter Services Portal

      %p
        The Voter Portal is a new service
        to all voters of Virginia --
        domestic, overseas, and military
        voters.

      %p
        We've designed this service to
        make it easier for you to make
        sure that you're registered to
        vote, and to help you keep your
        voter info up-to-date.

      .signature
        Virginia State Board of Elections

    .span-two-thirds
      .row
        .span-two-thirds
          The service offers two ways to get started:

      .row
        .span-one-third.option
          .marker 1
          %h3 Register to Vote
          %p
            If you're not currently registered to vote in
            Virginia, you can complete your voter
            registration application online, ensuring that
            it is complete and correct, and ready to print,
            sign, and mail.

        .span-one-third.option
          .marker 2
          %h3 Check Your Record and Eligibility
          %p
            You can check your voter record, and make
            changes -- including absentee status and
            eligibility for online ballot marking -- with
            help to make sure your update forms are
            complete and correct, ready to pring, sign,
            and mail.

      .row.buttons
        .span-one-third
          = link_to "Get Started Now", :new_registration_request, class: 'primary btn'
        .span-one-third
          = link_to "Get Started Now", :search_form, class: 'primary btn'
