# Administrative console credentials
admin:
  user: admin
  pass:

registration:
  # Enable collection of gender on the registration request form
  collect_gender: true

  # Enable collection of title on the registration request form
  collect_title:  false

  # Collect party preference only for absentees
  absentee_party_preference: true

# enables / disables form field autocompletion
autocomplete: off

# Toggles if we let absentees to choose the end date
choose_absentee_until: false

# Server for online ballot marking
dl:
  enabled: true
  url:
  access_token:
  account_id:

# Base for the URLs of the static pages
static_page_url_base: 

# Current election UID as in the EML 330 for the upcoming election
current_election:
  name: "November 2012 General"
  uid:  "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

xml:
  source_name: Virginia SBE Voter Services Portal

# SBE database API key
api_key: your_sbe_server_key

# Disables forms functionality
no_forms: true
