# Administrative console credentials
admin:
  user: admin
  pass:

registration:
  # Enable collection of gender on the registration request form
  collect_gender: true

  # Enable collection of title on the registration request form
  collect_title:  false

# enables / disables form field autocompletion
autocomplete: off

# Toggles if we let absentees to choose the end date
choose_absentee_until: false

# Server for online ballot marking
dl:
  url:
  access_token:
  account_id:

xml:
  source_name: Virginia SBE Voter Services Portal

# SBE database API key
api_key: your_sbe_server_key

# Disables forms functionality
no_forms: false
