- @page_id = 'status'

.row{ class: @registration.blank? ? 'no-reg' : nil }
  .span8.offset1
    .page-header
      %h1 Status Check

    = render 'errors'
    = render 'search'
    = render 'record'

