body {
  padding: 20px 0;
  background: #5C80B5;
}

.content {
  background: #FFF;
  margin: 0 -20px;
  padding: 20px;
}

.actions {
  background: transparent;
}

form {
  .group {
    margin-bottom: 18px;
    .clearfix {
      margin-bottom: 7px;
    }
  }
}
