body {
  padding: 20px 0;
  background: #5C80B5;
}

.content {
  background: #FFF;
  margin: 0 -20px;
  padding: 20px;
}

.popover .content {
  margin: 0;
}

.actions {
  background: transparent;
}

form {
  select.date {
    width: auto;
  }

  .group {
    margin-bottom: 18px;
    .clearfix {
      margin-bottom: 7px;
    }
  }

  .question label span {
    margin-left: -20px;
  }
}

table.properties {
  margin-top: 10px;
}

.section {
  margin-bottom: 40px;
}
