//= require bootstrap

body {
  padding: 20px 0;
//  background: #5C80B5;
}

body, p {
  font-size: 15px;
  line-height: 1.5;
}

.content {
  background: #FFF;
  margin: 0 -20px;
  padding: 20px;
}

.popover .content {
  margin: 0;
}

.actions {
  background: transparent;
}

form {
  select.date {
    width: auto;
  }

  .group {
    margin-bottom: 18px;
    .clearfix {
      margin-bottom: 7px;
    }
  }

  .question span {
    margin-left: -20px;
  }
}

table.properties {
  margin-top: 10px;
}

.section {
  margin-bottom: 40px;
}

.field-invalid {
  input:not(.second-zip), textarea, select {
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
  }

  label, span, p, h4, strong, label strong {
    color: #E9322D;
  }
}

h3 {
  font-size: 18px;
  line-height: 27px;
}
