- @page_title = 'Event log'

.row
  .span16
    %table#log_records.zebra-striped
      %thead
        %tr
          %th.action  Action
          %th         Voter ID
          %th         Form
          %th.subject Form Note
          %th         Notes
          %th.date    Date
      %tbody
        = render @log_records

.row
  .span16
    = paginate @log_records
