- update ||= @update
- title     = rr.overseas? ? "Alternative Federal Postcard Application" : "Application Form"
- subheader = rr.overseas? ? "Overseas / Military Voter" : nil
- title, subheader = rr.data_update_page_headers if update

#header
  %h1 Virginia Voter Registration
  %h2= title
  - if subheader
    .overseas= subheader
