.section
  .border
    %h1 Eligibility

    .row
      .check I am a citizen of the U.S.A., a resident of Virginia, and will be at least 18 years of age by the next election day.

    .row
      - if !rr.rights_revoked?
        .check My voting rights have not been revoked
      - else
        .span4
          .check My voting rights were revoked in the past due to a #{rr.rights_revokation_reason}.
        = field_line 1, rr.rights_restored_on, 'date when restored'
        - if rr.rights_revoked_felony?
          = field_line 1, rr.rights_restored_in, 'state where convicted'
