.section
  .border
    %h1 Oath

    .row
      .check.oath
        <strong>Registration Statement:</strong> I declare under felony penalty
        that, to the best of my knowledge, the facts contained in this application
        are true and correct, and that I have not, and will not vote in this
        election at any other place in Virginia or any other state. Knowingly
        giving my untrue information in this document is a felony under Virginia
        law. The maximum penalty is a fine of $2500 and/or confinement for up to
        ten years.

    .sign-block
      %h2 Sign and date
      .row.field
        .span4.line
          X
          %label signature
        .line
          &nbsp;
          %label date

