.title_page
  %header
    %h1
      <span>Virginia</span>
      Voter Registration<br/>
      - if rr.overseas?
        Alternative FPCA
      - else
        Application Form
  %article
    %header
      %h2 Instructions
    %p
      %strong You are not officially registered to vote until this application is approved.
      You should receive a Voter Card in the mail. If you do not receive this acknowledgment within 30 days after mailing this form, please contact your city or county voter registration office or the State Board of Elections. If you are already registered to vote with your current name and address, you do not need to re-register. If you have any questions regarding your voter registration status, please call your local Voter Registration Office.
  %article
    %header
      %h2 Address Requirements
    %p All applicants must provide a street address/description of their physical dwelling place. If that address is not serviced by the U.S. Postal Service, the applicant should also list a mailing address.
  %article
    %header
      %h2 Protected Voter Requirements
    %p To legally qualify to non-publish your residence address on voter lists requires that you meet certain statutory requirements. Your application must claim one of four reason codes:
    %ul
      %li LEO: active or retired law enforcement officer, judge, U.S. or Virginia Attorney General attorney;
      %li CPO: have a court issued protective order for your benefit;
      %li TSC: have a complaint with law enforcement about being threatened or stalked (must attach complaint); or
      %li ACP: registered with the Virginia Attorney General’s Address Confidentiality Program.
    %p An eligible applicant who wants to non-publish the applicant’s residence address in voter lists must also provide an alternative post office box mailing address within Virginia to be used on the voter lists.
  %article.last
    %header
      %h2 Mailing Instructions
    %ul
      %li Place completed application in an envelope.
      %li Write your name and return address on the envelope.
      %li
        Write the address of the voter registration office for the county or city where you live:
        <br/>
        .registrar= rr.registrar_address
      %li Must be postmarked at least 22 days before the next Primary or General Election in which you plan to vote.
  %p.first
    %strong Privacy Act Notice:
    = "Article II, Section 2 of the Constitution of Virginia (1971) requires that a person registering to vote provide his or her social security number, if any. Therefore, if you do not provide your social security number, your application for voter registration will be denied. Section 7 of the Federal Privacy Act (Public Law Number 93-579) allows the Commonwealth to enforce this requirement, but also requires that you be advised that state and local voting officials will use the social security number as a unique identifier to ensure that no person is registered in more than one place. This registration card will not be open to inspection by the public. Your social security number will appear on reports produced only for official use by voter registration and election officials, and for jury selection purposes by courts."
  %p
    %strong Bilingual Election Requirements:
    = "Section 203 of the Voting Rights Act of 1965, Title 42, United States Code (U.S.C.), §, 1973AA-1A mandates that a state or political subdivision must provide language assistance to voters if more than five (5) percent or more than 10,000 of voting age citizens are members of a single-language minority group and are limited-English proficient; and the illiteracy rate of such language minority citizen in the political subdivision is higher than the national illiteracy rate. Only those localities in Virginia meeting this threshold are required to provide bilingual language assistance for qualifying languages under Section 203. Localities covered: Fairfax County (Spanish)."
  %p.warning Warning: intentionally voting more than once in an election or making a materially false statement on this form constitutes the crime of election fraud, which is punishable under virginia law as a felony. violators may be sentenced to up to 10 years in prison, or up to 12 months in jail and/or fined up to $2,500.

  .serial
    - if rr.overseas?
      VA-FPCA-alt-www-1-9/12
    - else
      VA-NVRA-1-www 09/12
