%footer
  .row
    .span4
      %h5 Upcoming election

      %h6 State primary
      %p June 12, 2012

      %h6 Virginia polling times
      %p 6:00am to 7:00pm

    .span4
      %h5 How to register

      %h6 Register online
      %p
        To register to vote, you must complete a voter registration application and mail
        it to your local election official. This web- site allows you to build a
        registration application PDF for mail- ing by providing information online.

    .span4
      %h5 Contact

      %h6 Virginia State Board of Elections
      %p
        Washington Building, First Floor,<br/>
        1100 Bank Street,<br/>
        Richmond, VA 23219
