%footer
  .row
    .span-one-third
      .powered
        Powered by: Open Source Digital Voting Foundation

    .span-two-thirds
      .info
        Virginia State Board of Elections -- Voter Services Portal
        %ul
          %li= link_to "About",     :about_page
          %li= link_to "Help",      :help_page
          %li= link_to "Security",  :security_page
          %li= link_to "Feedback",  :feedback_page
