#header
  #menu
    - link_set = AppConfig.fetch('HeaderLinks', []) + alternate_localization_links
    = raw generate_link_list link_set
  = link_to :root do
    = image_tag '1x1.png', class: 'img_logo', alt: t("alt.logo")
  %h1= raw t('header_title')

