!!!
%html
  %head
    %title VA Voter Portal
    = stylesheet_link_tag     "mobile", :media => "all"
    %meta( content='width=device-width,initial-scale=1' name='viewport' )
    = csrf_meta_tags

  %body{ id: @page_id }
    .container
      .content
        = yield

    = javascript_include_tag  "mobile"
